ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    display: inline-block;
}
li {
    padding :0 40px;
    /* float: left; */
    /*margin: auto;*/
    /*     //maring: 0 auto; */
    /* margin: 0 auto; */
    /* text-align: left; */

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
#wrapper{
    margin:0 auto;
    /* width: auto; */
    text-align: center;
}
.content{
    margin: 25px;
    display: inline-block;
    /* float: left; */
    text-align: center;
    border: 2px solid black;
}
.img{
    /* width: 60px; */
    display: inline-block;
    /* float: left; */
}
.img_icon{
    width: 200px;
    height: 180px;
}
.text{
    line-height: 1.2em;
    /* width: 249px; */
    float: right;
    display: inline-block;
}
.manipulator span{
    float: left;
    border:1px solid black;
    /* position: relative; */
    width: 66px;
    height: 51px;
    background: white;
    margin: 0px 7px 13px 8px;
    color: black;
    line-height: 53px;
    text-align: center;
}
.operations:active  {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}
